
.title{
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Bangers';
    text-align: center;
    text-transform: uppercase;
}

.ada-title{
    color:white;
    font-size: 45px;
    background: rgb(0,17,103);
    background: radial-gradient(circle, rgba(0,17,103,1) 0%, rgba(228,46,68,1) 100%);
    margin: 0;
    padding: 0 10px;
    font-size: 60px;
}

.heroes:hover{
    filter: grayscale(80%);
    border-radius:50%;
   -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px red;
   -webkit-box-shadow: 0px 0px 15px 15px red;
    transform: rotate(360deg);
   -webkit-transform: rotate(360deg);
}

.is-16by9{
    padding-top:35% !important;
    width: 90%;
    margin: auto;
}

.is-info{
    background-color: black !important;
}

.type, .order{
    margin: auto;
}

.pagination.is-centered .pagination-previous{
    background-color: red;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

nav.pagination.is-centered{
    display: flex;
    justify-content: center;
}

.pagination.is-centered .pagination-next{
    background-color: red;
    color: white;
    font-weight: bold;
    text-transform: uppercase; 
}

.input{
    width: 18rem !important;
}

